{% extends "base.html" %}

{% load static %}

{% block logo %}
    <a href="{% url 'ossm_index' %}" class="image" style="width:40%"><img src="{% static 'images/ossm_baner.png' %}"></a>
{% endblock %}

{% block index_link %}<a href="{% url 'ossm_index' %}">Strona główna</a>{% endblock %}
{% block contact_link %}<a href="{% url 'ossm_page' 'kontakt' %}">Kontakt</a>{% endblock %}

{% block pages %}
    {% for p in main_pages %}
    <li><a href="{% url 'ossm_page' p.name %}">{{ p.title }}</a></li>
    {% endfor %}
    <li>
    </li>
    {% if request.user.is_superuser %}
    <li><a href="{% url 'ossm_page_add' %}">Dodaj stronę</a></li>
    {% endif %}
{% endblock %}
{% block bottom %}
<section class="widget contact last">
    <h3>Kontakt</h3>
    <ul>
        <li><a href="https://www.facebook.com/kmsuj/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    </ul>
    <p>Koło Matematyków Studentów Uniwersytetu Jagiellońskiego im. prof. Stanisława Zaremby <br/>
        Łojasiewicza 6/1008, 30-348 Kraków<br/>
        telefon: (+48) 12 664 76 08 <br/>
        email: kmsuj@uj.edu.pl
    </p>
</section>
{% endblock %}