{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-8 col-12-medium">
                <div class="image"><img src="{% static 'images/kmsuj.jpg' %}" alt=""></div>
            </div>
            <div class="col-4 col-12-medium center">
                <h2>
                    Koło<br/> Matematyków<br /> Studentów UJ
                </h2>
            </div>
        </div>
    </div>
</div>

<div id="main-wrapper">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-12 col-12-medium imp-medium">

                <!-- Content -->
                    <div id="content">
                        <section class="last">
                            <h2>O kole</h2>
                            <p>
                                Koło Matematyków Studentów Uniwersytetu Jagiellońskiego im. prof. Stanisława Zaremby jest organizacją studencką, 
                                mającą na celu zapewnienie entuzjastom matematyki możliwości spotykania się ze sobą 
                                i zgłębiania wspólnych zainteresowań. KMSuj daje swoim członkom niesamowite możliwości rozwoju zarówno naukowego, 
                                jak i społecznego. Wyjeżdżamy na konferencje, organizujemy sesje referatowe, 
                                doradzamy sobie w problematycznych zagadnieniach, ale również jemy wspólnie posiłki, 
                                gramy wieczorami w planszówki, a w przerwach między zajęciami rozmawiamy na wszelakie tematy, 
                                siedząc godzinami na naszych trzech kołowych kanapach. 
                            </p>
                        </section>
                    </div>

            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">

                <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="{% static 'images/history.jpg' %}" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>Historia koła</h2>
                            </header>
                            <p>Historia Koła rozpoczyna się 3 grudnia 1893 roku, kiedy dwudziestu studentów matematyki i fizyki Wydziału Filozoficznego postanowiło założyć Kółko Matematyczno-Fizyczne Uczniów Uniwersytetu Jagiellońskiego. I tak od ponad 100 lat, będąc jednym z najstarszych kół naukowych w Polsce, łączymy tradycję z nowymi pomysłami. Co roku organizujemy wyjazdy naukowo-integracyjne, Quasinaria czy Szkoły Letnie i Zimowe. Przygotowujemy również takie wydarzenia jak Bal Andrzejkowy, Spotkania z Ciekawym Człowiekiem czy Mikołajkowy Turniej Szachowy.
                            </p>
                        </div>
                    </section>

            </div>
            <div class="col-6 col-12-medium">

                <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="{% static 'images/conference.jpg' %}" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>Wydarzenia naukowe</h2>
                            </header>
                            <p>We wrześniu 1998 zorganizowano wydarzenie mające wywrzeć wielki wpływ na współczesne dzieje Koła – pierwszą konferencję dla młodych matematyków. Z biegiem lat Warsztaty stawały się bardziej popularne i dzisiaj Międzynarodowe Warsztaty dla Młodych Matematyków przyciągają co roku studentów z całego świata. Z czasem, razem ze Studenckim Kołem Matematyków AGH, rozpoczęliśmy organizację innego wydarzenia – Ogólnopolskiej Sesji Studentów Matematyki – przypadającej na grudzień konferencji matematycznej, w trakcie której uczestnicy mogą wziąć udział w licznych prelekcjach i referatach, a także wygłosić własne prace i zaprezentować plakaty.
                            </p>
                        </div>
                    </section>

            </div>
        </div>
    </div>
</div>


{% endblock %}

