{% extends "base_warsztaty.html" %}

{% load static %}

{% block content %}

<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-8 col-12-medium">
                <div class="image"><img src="{% static 'images/warsztaty_main.png' %}" alt=""></div>
            </div>
            <div class="col-4 col-12-medium center">
                <h2 style="text-align: left;">
                        Międzynarodowe Warsztaty
                        dla Młodych Matematyków
                </h2>
            </div>
        </div>
    </div>
</div>

<div id="main-wrapper">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-12 col-12-medium imp-medium">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <!-- <h2>O Kole</h2> -->
                        <p style="text-align: justify">
                            Międzynarodowe Warsztaty dla Młodych Matematyków to szansa dla młodych studentów na
                            przedstawienie wyników swoich badań. To czas dla nas, pasjonatów, którym matematyka płynie w
                            żyłach, aby wsłuchiwać się w referaty kolegów i koleżanek, jak również zaproszonych gości,
                            którzy lubią na takich wydarzeniach prezentować jeszcze nieopublikowane wyniki. Ale! Toż to
                            Warsztaty! Muszą zatem pojawić się także sesje problemowe prowadzone przez naszych gości i
                            opiekunów naukowych. Może się tam zdarzyć wszystko, na co będziecie mieli chęci. Jednego
                            dnia czeka nas także sesja posterowa.
                            <br><br>
                            Naszym głównym celem jest nauka, wymiana myśli i nawiązanie kontaktów naukowych. Nie wolno
                            jednak zapomnieć o kontaktach towarzyskich. W tym celu odbędzie się kilka wyjść
                            integracyjnych. Z roku na rok są to inne wydarzenia, przykładowe wyjścia to kręgle, kino,
                            zwiedzanie Krakowa, grill czy paintball, słowem – wszystko, co tylko może przyjść do głowy
                            tegorocznym organizatorom.
                            <br><br>
                            Nazwa może i brzmi poważnie, nie jest to jednak powód do strachu. To wydarzenie jest dla
                            Ciebie, od pierwszych uśmiechów na rejestracji po ostatnie dźwięki kruszącej się kredy. Nie
                            martw się swoim angielskim, dasz radę, w razie czego będą tu inni Polacy, którzy na pewno Ci
                            podpowiedzą. Weź ze sobą znajomych – w grupie weselej, zarówno w podróży, jak i na miejscu.
                            Spróbuj swoich sił z referatem lub plakatem, ostatecznie jesteśmy tutaj, żeby uczyć się
                            wzajemnie od siebie.
                            <br><br>
                            Zapraszamy serdecznie – będzie wspaniale. Jeśli masz pytania, zawsze możesz do nas napisać:
                            kmsuj@uj.edu.pl.
                        </p>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <a href="https://kmsuj.matinf.uj.edu.pl/" class="image featured"><img
                            src="{% static 'images/kmsuj.jpg' %}" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Koło Matematyków Studentów UJ</h2>
                        </header>
                        Koło Matematyków Studentów Uniwersytetu Jagiellońskiego im. prof. Stanisława Zaremby jest
                        organizacją studencką, mającą na celu zapewnienie entuzjastom matematyki możliwości spotykania
                        się ze sobą i zgłębiania wspólnych zainteresowań. KMS UJ daje swoim członkom niesamowite
                        możliwości rozwoju zarówno naukowego, jak i społecznego. Wyjeżdżamy na konferencje, organizujemy
                        sesje referatowe, doradzamy sobie w problematycznych zagadnieniach, ale również jemy wspólnie
                        posiłki, gramy wieczorami w planszówki, a w przerwach między zajęciami rozmawiamy na wszelakie
                        tematy, siedząc godzinami na naszych trzech kołowych kanapach.
                        <br /><br /><br />

                        </p>
                    </div>
                </section>

            </div>
            <div class="col-6 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <a href="https://kmsuj.matinf.uj.edu.pl/historia koa" class="image featured"><img
                            src="{% static 'images/history.jpg' %}" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Tradycje Koła</h2>
                        </header>
                        <p>
                            Koło Matematyków Studentów Uniwersytetu Jagiellońskiego im. prof. Stanisława Zaremby jest
                            jedną z najdłużej działajacych na Uniwersytecie Jagiellońskim organizacji naukowych, która
                            nie tylko zrzesza studentów matematyki, ale ma także liczne grono sympatyków poza Instytutem
                            Matematyki. Koło istnieje już ponad sto dwadzieścia lat, a jego historię można poznać na
                            stronie <a href="https://kmsuj.matinf.uj.edu.pl/historia koa">Historii Koła</a>. Jednym ze
                            statutowych zadań Koła jest organizacja naukowego życia studenckiego. Zadanie to realizujemy
                            wytrwale i różnorodnie poprzez: Szkoły Zimowe i Letnie, Quasinaria Wiosenne i Jesienne,
                            Ogólnopolską Sesję Studentów Matematyki, Międzynarodowe Warsztaty dla Młodych Matematyków i
                            nie tylko… </p>
                        <br>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>


{% endblock %}
